@font-face {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  src: url();
}

.main {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.App {
  width: 100%;
  position: relative;
  padding-top: 62px; /* nav 높이 만큼 padding-top 추가 */
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .main {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .App {
    width: 100%;
    position: relative;
    padding-top: 56px; /* nav 높이 만큼 padding-top 추가 */
    min-height: 100vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
