<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>request</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="../css/admin-snack-list.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar" style="padding: 30px">
      <div class="container-fluid">
        <a href="/index-login"><img src="../namecard.png" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="collapsibleNavbar"
        ></div>
      </div>
    </nav>

    <div class="list-container">
      <div class="nav-container">
        <h1>
          <span><a href="/admin-user-list">고객관리</a></span> |
          <span><a href="/admin-snack-list">간식관리</a></span>
        </h1>
      </div>

      <div class="container" style="height: 600px; overflow-y: scroll">
        <ul class="list-group">
          <% for (let i = test.length - 1; i >= 0; i--){ %>
          <li
            class="list-group-item"
            style="display: flex; justify-content: space-between"
          >
            <p><%= test[i].request %></p>
            <button>삭제</button>
          </li>
          <% } %>
        </ul>
      </div>

      <a href="/add-snack"
        ><button
          style="
            float: right;
            margin-top: 30px;
            margin-right: 5px;
            background-color: #00d2b7;
            border: none;
          "
          class="btn btn-success"
        >
          간식 등록
        </button></a
      >
      <div style="clear: both"></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
