<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>request</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="../css/request.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar" style="padding: 30px">
      <div class="container-fluid">
        <a href="/"><img src="../namecard.png" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="collapsibleNavbar"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">서비스 소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">상품 소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">플랜 소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/request">간식 요청</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">로그인</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-container">
      <div class="user-snack">
        <h4>한국공간데이터 간식 목록</h4>
        <hr />
        <div class="container" style="height: 600px; overflow-y: scroll">
          <div class="row">
            <div class="col-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <img
                    src="../snack-img/마가렛트.jpg"
                    style="width: 50px; height: 50px"
                  />Lorem
                </li>
                <li class="list-group-item">
                  <img
                    src="../snack-img/마가렛트.jpg"
                    style="width: 50px; height: 50px"
                  />Ipsum
                </li>
                <li class="list-group-item">
                  <img
                    src="../snack-img/마가렛트.jpg"
                    style="width: 50px; height: 50px"
                  />Dolor
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="user-container">
        <div class="user-req-free">
          <form action="/add" method="POST">
            <h4>요청사항</h4>
            <hr />
            <textarea
              name="request"
              style="height: 200px"
              minlength="1"
              required
              placeholder="요청사항을 입력해주세요"
            ></textarea>
            <button type="submit" class="btn btn-success">요청하기</button>
          </form>

          <br /><br /><br />

          <div class="container" style="height: 400px; overflow-y: scroll">
            <ul class="list-group">
              <% for (let i = test.length - 1; i >= 0; i--){ %>
              <li class="list-group-item">
                <p><%= test[i].request %></p>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
