<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/sign-up.css" rel="stylesheet" />
    <title>with</title>
  </head>
  <body>
    <form action="/sign-up" method="post">
      <h1>업체 등록</h1>

      <fieldset>
        <label for="name">업체명:</label>
        <input type="text" id="name" name="user_name" style="background-color: #E8F0FE;"/>

        <label for="mail">ID:</label>
        <input type="text" id="id" name="user_id" style="background-color: #E8F0FE;"/>

        <label for="password">Password:</label>
        <input type="password" id="pw" name="user_pw"style="background-color: #E8F0FE;" />

        <label for="password">Confirm Password:</label>
        <input type="password" id="confirm-pw" style="background-color: #E8F0FE;"/>
      </fieldset>

      <a><button type="submit" id="submit" style="background-color: #00d2b7; border: none;">업체 등록</button>
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript">
      $("#submit").on("click", function () {
        var p1 = document.getElementById("pw").value;
        var p2 = document.getElementById("confirm-pw").value;
        if (p1 != p2) {
          alert("비밀번호가 일치 하지 않습니다");
          return false;
        } else {
          $.ajax({
            method: "POST",
            url: "/sign-up",
            data: { user_name, user_id, user_pw },
          })
            .done((결과) => {})
            .fail((에러) => {
              console.log(에러);
            });
        }
      });
    </script>
  </body>
</html>
